// SET FIRST MEDIA QUERY @ 500PX

.index-header {
  position: relative;
}

.index-image {
  width: 100%;
}

.index-title {
  position: absolute;
  bottom: 20%;
  left: 40%;
}

.index-code {
  height: 8rem;
  background-image: asset-url("code-640px.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.index-content {
  background-color: $darkblue;
  height: 100%;
}

.index-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;

  a {
    padding: 0.75rem;
    text-decoration: none;

    &:hover {
      scale: 130%;
      transition: scale 0.1s ease-in-out;
    }
  }

  > *:first-child {
    width: 50%;
    border-top: 1px solid $offwhite;
    border-bottom: 1px solid $offwhite;
    text-align: center;
  }

  > *:last-child {
    width: 50%;
    border-top: 1px solid $offwhite;
    border-bottom: 1px solid $offwhite;
    text-align: center;
  }

  > *:not(:first-child):not(:last-child) {
    width: 50%;
    border-left: 1px solid $offwhite;
    border-right: 1px solid $offwhite;
    text-align: center;
  }
}
