.parma-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parma-header, .parma-content {
  margin: 1.5rem;

  h1 {
    margin-bottom: 1.5rem;
    width: 70%;
  }

  * {
    margin-bottom: 0.25rem;
  }
}

.parma-project-card {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  width: 100%;
  background-color: $mediumblue;
  padding: 3rem 0;
}

.parma-img {
  position: absolute;
  transition: display 2s ease-in-out;
  width: fit-content;
  height: 700px;
}

.parma-chevron-left, .parma-chevron-right {
  position: absolute;
  top: 50%;
  width: 1.5rem;
  z-index: 1;
}

.parma-chevron-left {
  left: 1rem;
}

.parma-chevron-right {
  right: 1rem;
}

.parma-content > * {
  margin-bottom: 1rem;
}
