.projects-bg-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: asset-url("code-640px.jpg");
  background-repeat: repeat;
  background-size: contain;
  z-index: -1;
}

.projects-title {
  background-color: $darkblue;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.projects-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projects-project {
  background-color: $darkblue;
  padding: 2rem 0;
}

.projects-detail {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $mediumblue;
  box-shadow: $offwhite 0px 0px 2px;

  > *:first-child {
    margin-top: 1rem;
  }

  > *:last-child {
    margin-bottom: 1rem;
  }

  > *:not(:first-child):not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.projects-trans-div {
  min-height: 20px;
  height: 5%;
  opacity: 0%;
}
