<%# <div class="index-bg-fixed" data-controller="background">
</div> %>
<div class="container">
  <div class="index-header">
    <%= image_tag "logo.png", class: "index-image" %>
    <div class="index-title">
      <p>Web projects developed by</p>
      <p>Benjamin Jackson</p>
    </div>
  </div>
  <div class="index-content">
    <div class="index-links">
      <a>Projects</a>
      <a>Contact</a>
      <a>About</a>
    </div>
  </div>
</div>
