<div class="container" data-menu-target="indexContainer">
  <div class="index-header">
    <%= image_tag "logo.png", class: "index-image" %>
    <div class="index-title">
      <p>Web projects developed by</p>
      <p>Benjamin Jackson</p>
    </div>
  </div>
  <div class="index-code">
  </div>
  <div class="index-content">
    <div class="index-links">
      <%= link_to "Home", root_path %>
      <%= link_to "Projects", projects_path %>
      <%= link_to "Contact", contact_path %>
    </div>
  </div>
</div>
