.header-menu {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 50;
  width: 85px;
  height: 35px;
}

.header-images {
  position: relative;
}

.header-menu img {
  position: absolute;
}

.header-menu-open, .header-menu-close {
  right: 0;
}

.header-menu-home {
  left: 0;
}
