.header-menu {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 50;
  width: 85px;
  height: 35px;

  img {
    position: absolute;
  }
}

.header-images {
  position: relative;
  height: 100%;
}

.header-menu-open, .header-menu-close {
  right: 0;

  &:hover {
    scale: 130%;
    transition: scale 0.3s ease;
  }
}

.header-menu-home {
  left: 0;

  &:hover {
    scale: 130%;
    transition: scale 0.3s ease-in-out;
  }
}
