/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

/* Base styles */
@import "base/reset";
@import "base/typography";
@import "base/colours";

/* Layout styles */
@import "layout/header";
@import "layout/footer";

/* Page-specific styles */
@import "pages/index";
@import "pages/menu";
@import "pages/projects";
@import "pages/parmageddon";
@import "pages/brapp";

body {
  background-color: $darkblue;
  position: relative;
  color: $offwhite;
  font-family: $main-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

.main {
  position: relative;
}

.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.block {
  display: flex;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.hidden-flip-left {
  opacity: 0;
  visibility: hidden;
  transform: rotate(0deg);
  transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}

.block-flip-right {
  display: flex;
  opacity: 1;
  visibility: visible;
  transform: rotate(90deg);
  transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}
